body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

.margin {
    height: 1em;
}

.searchbar {
    margin-top: 20px;
    height: 60px;
    background: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 2px 5px rgb(196, 196, 196);
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: rgb(0, 0, 0);
    width: 0;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover {
    box-shadow: 10px 5px 5px rgb(196, 196, 196);
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 450px;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.product_image{
    padding: 1em;
}